<div class="center hero-unit">
  <h1>Welcome to Merrymaker</h1>

  <h2>
    This is the home page for the Merrymaker's website.
  </h2>
</div>

<%= link_to image_tag("logo.jpg", alt: "Merrymaker", id: "logo-image"), root_path %>
